/*** Google Web Fonts - START ***/

/* quicksand-500 - latin-ext_latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../../webfonts/quicksand-v28-latin-ext_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../../webfonts/quicksand-v28-latin-ext_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
}
/* quicksand-700 - latin-ext_latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../../webfonts/quicksand-v28-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../../webfonts/quicksand-v28-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
}
/* vt323-regular - latin-ext_latin */
@font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../../webfonts/vt323-v17-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../../webfonts/vt323-v17-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
}
/* jaini-regular */
@font-face {
    font-family: 'Jaini';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../../webfonts/jaini-regular.ttf'); /* Chrome 26+, Opera 23+, Firefox 39+ */
    font-display: swap;
}

body {
    font-size: 110%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

h2 {
    font-family: 'Jaini', sans-serif;
}

h3, h4, h5, h6 {
    font-weight: 700;
}

/* Navbar Hacks */
/* Current active */
.navbar-nav > .active > a {
    color: #91cdff!important;
    font-weight: bold;
}
.nav-link {
    color: #000 !important;
}
.nav-item .text-muted{
    color: #6c757d!important
}

.custom-navbar {
    background-image: url('../../img/red.jpg');
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;
        
}

.custom-navbar .nav-link {
    color: white !important;
    font-weight: 750 !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    font-size: 15pt;
}

/* On mouse over */
.nav-item > a:hover {
    color: #91cdff!important;
}

/*** Google Web Fonts - END ***/

body > .container {
    padding: 80px 15px 0;
}

table {
    margin-bottom:30px;
    width:100%;
    text-align:left;
    color:#3f3f3f;
    border-collapse:collapse;
    border:1px solid #e8e8e8
  }
  table tr:nth-child(even) {
    background-color:#f7f7f7
  }
  table th,
  table td {
    padding:10px 15px
  }
  table th {
    background-color:#f0f0f0;
    border:1px solid #dedede;
    border-bottom-color:#c9c9c9
  }
  table td {
    border:1px solid #e8e8e8
  }